.notes-list {
    overflow: auto;
}

.notes-list li {
    background-color: var(--color-dark) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    border-top: 4px solid;
    border-radius: 4px;
    padding: 8px;
}

.notes-list p {
    flex-grow: 1;
    word-wrap: break-word;
    max-height: calc(19px*4);
    overflow: hidden;
}

.notes-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;

    margin: 2px;
    padding: 2px;
}