.notes-list {
    overflow: auto;
}

.notes-list li,
.notes-list button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-list li {
    background-color: var(--color-dark);
    margin: 8px;
    border-top: 4px solid;
    border-radius: 4px;
}

.selected {
    background-color: var(--color-dark-hover) !important;
}

.notes-list li:hover {
    background-color: var(--color-dark-hover);
    cursor: pointer;
}

.notes-list div {
    flex-grow: 1;
    padding: 8px;
}

.notes-list p {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    min-height: calc(19px*2);
    max-height: calc(19px*4);
}

.notes-list button {
    background-color: unset;
    min-width: 34px;
    min-height: 34px;
    border: none;
    padding: 4px;
}

.notes-list button svg:hover {
    fill: #919191;
    cursor: pointer;
}