:root {
    --color-0: #000;
    --color-1: #202020;
    --color-2: #333333;
    --color-yellow: #FFCB47;
    --color-red: #A4031F;
    --color-green: #34623F;
}

.yellow {
    background-color: var(--color-yellow);
    border-top-color: var(--color-yellow) !important;
}

.red {
    background-color: var(--color-red);
    border-top-color: var(--color-red) !important;
}

.green {
    background-color: var(--color-green);
    border-top-color: var(--color-green) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-0);
    max-width: 720px;
    min-width: 720px;
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0 auto;
}

h1 {
    margin: 8px 4px;
}

ul {
    list-style: none;
}