:root {
    --color-black: #202020;
    --color-dark: #333333;
    --color-dark-hover: #4f4f4f;
    --color-yellow: #FFCB47;
    --color-red: #A4031F;
    --color-green: #3aa854;
    --color-blue: #147dd2;
    --color-orange: #e76f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
    max-width: 820px;
    min-width: 820px;
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0 auto;
}

h1 {
    margin: 8px 4px;
}

ul {
    list-style: none;
}

.app-container {
    display: flex;
}