* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    min-height: 100vh;
    max-width: 720px;
    background-color: #342121;
    font-family: 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0 auto;
}