.task,
.task-container,
.task-text,
.icons,
.icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.todo-list {
    overflow: auto;
}

.complete {
    background-color: var(--color-green) !important;
}

.task-container {
    background-color: var(--color-dark);
    flex-grow: 1;
    max-width: 420px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 8px;
}

.task-text {
    flex-grow: 1;

    word-break: break-all;
    margin: 2px 6px;
    padding: 2px 6px;
}

.icon {
    width: 24px;
    height: 24px;

    margin: 4px;
    padding: 2px;
}