.task,
.task-container,
.task-text,
.icons,
.icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.todo-list {
    overflow: auto;
}

.task-container {
    background-color: var(--color-2);
    width: 380px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 8px;
}

.task-text {
    flex-grow: 1;
}

.icon {
    width: 24px;
    height: 24px;

    margin: 2px;
    padding: 2px;
}