.list-notes {
    overflow: auto;
    margin-top: 10px;
}

.list-notes li,
.list-notes div,
.list-notes button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-notes li {
    background-color: var(--color-dark);
    margin: 0 8px 8px 0;
    border-top: 4px solid;
    border-radius: 4px;
}

.selected {
    background-color: var(--color-dark-hover) !important;
}

.list-notes li:hover {
    background-color: var(--color-dark-hover);
    cursor: pointer;
}

.list-notes div {
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 0px 6px 8px;
}

.note-date {
    align-self: flex-start;
    font-size: 10px;
    margin: 2px;
    padding: 4px 0 2px 0 !important;
}

.list-notes p {
    align-self: start;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    min-height: calc(19px*2);
    max-height: calc(19px*4);
}

.list-notes button {
    background-color: unset;
    min-width: 34px;
    min-height: 34px;
    border: none;
    padding: 4px;
}

.list-notes button svg:hover {
    fill: #919191;
    cursor: pointer;
}