.todo-form,
.todo-form-input,
input[type=text],
button[type=submit] {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-form-input {
    flex-direction: row;
    background-color: var(--color-2);
    color: #fff;

    margin: 8px;
    padding: 0 8px;
}

.todo-form-input>input[type=text] {
    height: 34px;
    border: none;
    border-radius: 2px;
    padding: 4px;
}