.notes {
    background-color: var(--color-1);
    min-height: 100vh;
    max-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
}

.notes-list {
    background-color: var(--color-1);
    min-width: 320px;
    max-width: 320px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.notes-list-header {
    display: flex;
    flex-direction: column;
}

.notes-list-header>h2 {
    margin: 4px;
    padding: 4px;
}

.notes-list-header-input {
    background-color: var(--color-2);
    color: #fff;

    margin: 4px 10px;
    border: none;
    border-radius: 2px;
    padding: 8px 4px 8px 12px;
}

/* NotesList */
.notes-list-container {
    overflow: auto;
}

.notes-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2);
    margin: 8px;
    border-top: 4px solid;
    border-radius: 4px;
    padding: 8px;
}

.text {
    flex-grow: 1;
    word-wrap: break-word;
    max-height: calc(19px*4);
    overflow: hidden;
}

.icon-delete {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;

    margin: 2px;
    padding: 2px;
}

/* NoteSelected */
.note {
    width: 100%;
    overflow: auto;
}

.note-text {
    display: flex;
    background-color: var(--color-2);

    margin: 10px;
    border-top: 20px solid;
    border-radius: 4px;
    padding: 15px 10px;
}

.note-text>textarea {
    font-size: 16px;
    min-width: 100%;
    max-width: 100%;
    min-height: 180px;
    max-height: 180px;
    background-color: var(--color-2);
    color: #fff;
}