.notes {
    background-color: var(--color-1);
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: row;
}

.notes-list {
    background-color: var(--color-1);
    min-width: 320px;
    max-width: 320px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* NoteHeader */

.notes-list-header {
    display: flex;
    flex-direction: column;
}

.notes-list-header>h2 {
    margin: 4px;
    padding: 4px;
}

.notes-list-header-input {
    background-color: var(--color-2);
    color: #fff;

    margin: 4px 10px;
    border: none;
    border-radius: 2px;
    padding: 8px 4px 8px 12px;
}

.icons-color {
    margin: 6px;
    display: flex;
    justify-content: space-evenly;
}

.icon-color {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;

    border-radius: 4px;
    border: none !important;
}

/* NotesList */
.notes-list-container {
    overflow: auto;
}

.notes-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2) !important;
    margin: 8px;
    border-top: 4px solid;
    border-radius: 4px;
    padding: 8px;
}

.text {
    flex-grow: 1;
    word-wrap: break-word;
    max-height: calc(19px*4);
    overflow: hidden;
}

.icon-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;

    margin: 2px;
    padding: 2px;
}

/* NoteSelected */
.note {
    width: 100%;
    overflow: auto;
}

.note-text {
    display: flex;
    background-color: var(--color-2) !important;

    margin: 10px;
    border-top: 20px solid;
    border-radius: 4px;
    padding: 15px 10px;
}

.note-text>textarea {
    font-size: 16px;
    min-width: 320px;
    min-height: 360px;
    max-height: 90vh;

    background-color: var(--color-2);
    color: #fff;
}