.notes-header {
    background-color: var(--color-black);
    min-width: 320px;
    max-width: 320px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.notes-header header {
    display: flex;
    flex-direction: column;
}

.notes-header-colors {
    margin: 8px 0;
}

.notes-header input[type=search] {
    background-color: var(--color-dark);
    color: #fff;

    margin: 4px 10px;
    border: none;
    border-radius: 2px;
    padding: 8px 4px 8px 12px;
}