.task,
.task-text,
.icons,
.icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.tasks {
    background-color: var(--color-1);
    flex-direction: column;
}

.task {
    background-color: var(--color-2);
    width: fit-content;
    height: fit-content;

    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.icon {
    width: 24px;
    height: 24px;

    margin: 2px;
    padding: 2px;
}