.icons-color {
    display: flex;
    justify-content: space-evenly;
}

.icons-color button {
    width: 30px;
    height: 30px;

    border-radius: 4px;
    border: none !important;
}

.icons-color button:hover {
    border: 2px solid#fff !important;
    cursor: pointer;
}