.icons-color {
    display: flex;
    justify-content: space-between;
}

.icons-color button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}

.icons-color button:hover {
    border: 2px solid var(--color-dark-hover) !important;
    cursor: pointer;
}

.yellow {
    background-color: var(--color-yellow);
    border-top-color: var(--color-yellow) !important;
}

.red {
    background-color: var(--color-red);
    border-top-color: var(--color-red) !important;
}

.green {
    background-color: var(--color-green);
    border-top-color: var(--color-green) !important;
}

.blue {
    background-color: var(--color-blue);
    border-top-color: var(--color-blue) !important;
}

.orange {
    background-color: var(--color-orange);
    border-top-color: var(--color-orange) !important;
}