header {
    display: flex;
    flex-direction: column;
}

header>h1 {
    text-align: center;
}

header>h1,
header>input {
    margin-bottom: 10px;
}

header>input[type=search] {
    background-color: var(--color-dark);
    color: #fff;

    border: none;
    border-radius: 2px;
    padding: 12px 6px 10px 14px;
    outline: none;
}

header>input[type=search]:hover {
    background-color: var(--color-dark-hover);
}

header>input[type=search]:focus {
    background-color: var(--color-dark);
}