.note {
    width: 100%;
    overflow: auto;
}

.note-note {
    background-color: var(--color-dark) !important;
    margin: 10px;
    border-radius: 5px;
}

.note-container-colors {
    display: flex;
    margin-bottom: 10px;
}

.note-colors {
    flex-grow: 1;
    justify-content: start;
    border-radius: 0 !important;
}

.note textarea {
    background-color: var(--color-dark);
    color: #fff;
    font-size: 16px;
    min-width: 320px;
    max-width: 420px;
    min-height: 360px;
    max-height: 80vh;

    margin: 10px;
    border: none;
}