.note {
    background-color: var(--color-dark) !important;
    border-radius: 5px;
}

.container-colors {
    display: flex;
    border-radius: 0 5px 0 0;
}

.note-colors {
    flex-grow: 1;
    justify-content: start;
    border-radius: 0 !important;
}

.container-textarea {
    display: flex;
    padding: 10px;
}

textarea {
    background-color: var(--color-dark);
    color: #fff;
    font-size: 16px;
    min-width: 320px;
    max-width: 100vw;
    min-height: 360px;
    max-height: 85vh;
    border: none;
    outline: none;
}